In [1]:
print("* ASSIGNMENT_PANDAS_BASIC *")

* ASSIGNMENT_PANDAS_BASIC *

In [2]:
import pandas as pd

In [5]:
print("Q_1_ANS :- ")
s = pd.Series([4,8,15,16,23,42])
s

Q_1_ANS :-

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [6]:
print("Q_2_ANS :- ")
s1 = pd.Series([8,3,20,14,25,36,52,78,64,97])
s1

Q_2_ANS :-

0     8
1     3
2    20
3    14
4    25
5    36
6    52
7    78
8    64
9    97
dtype: int64

In [8]:
print("Q_3_ANS :- ")
data = pd.DataFrame({'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']})
data

Q_3_ANS :-

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [9]:
print("Q_4_ANS :- DataFrame :- DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.\n\nDifferent pandas.serirs :- The diff() function is used to first discrete difference of element. Calculates the difference of a Series element compared with another element in the Series (default is element in previous row). Periods to shift for calculating difference, accepts negative values. ")

Q_4_ANS :- DataFrame :- DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.

Different pandas.serirs :- The diff() function is used to first discrete difference of element. Calculates the difference of a Series element compared with another element in the Series (default is element in previous row). Periods to shift for calculating difference, accepts negative values.

In [19]:
print("Q_5_ANS :- so many function use to manipulate dataframe like add column , drop column,drop rows , set index , reindex , and so on . ")
data['id'] = [1,2,3]
data.set_index(['id'])

Q_5_ANS :- so many function use to manipulate dataframe like add column , drop column,drop rows , set index , reindex , and so on .

      Name  Age  Gender
id
1    Alice   25  Female
2      Bob   30    Male
3   Claire   27  Female

In [22]:
print("Q_6_ANS :- The pandas Series: Introduction, Series creation using different ways, indexing and slicing, Mutability of series, Operations and mathematical functions\n\nThe pandas DataFrame: Introduction, DataFrame creation using different ways, pandas read_*, Value and size mutability of DataFrame, Column as a series\n\nThe pandas Panel: pandas is a fast, powerful, flexible and easy to use data analysis library built on top of NumPy and provides features not available in it. pandas stands for panel data, a reference to the tabular format. It adopts significant parts of NumPy’s idiomatic style of array-based computing. While pandas adopts many coding idioms from NumPy, the biggest difference is that pandas is designed for working with tabular, heterogeneous data. NumPy, by contrast, is best suited for working with homogeneous numerical array data.\n\nSeries — 1D\n\nDataFrame — 2D\n\nPanel — 3D\n\nThe pandas Series: The Series is the object of the pandas library designed to represent one-dimensional data structures, similar to an array but with some additional features. A series consists of two components.\n\nOne-dimensional data (Values)\n\nIndex\n\nThe pandas DataFrame: A DataFrame is a two-dimensional data structure composed of rows and columns — exactly like a simple spreadsheet or a SQL table. Each column of a DataFrame is a pandas Series. These columns should be of the same length, but they can be of different data types — float, int, bool, and so on. DataFrames are both value-mutable and size-mutable (Series, by contrast, is only value-mutable, not size-mutable. The length of a Series cannot be changed although the values can be changed). This lets us perform operations that would alter values held within the DataFrame or add/delete columns to/from the DataFrame.\n DataFrame consists of three components.\n\nTwo-dimensional data (Values)\n\nRow index\n\nColumn index\n\nThe pandas Panel : A Panel is a 3D array. It is not as widely used as Series or DataFrames. It is not as easily displayed on screen or visualized as the other two because of its 3D nature. It is generally used for 3D time-series data. The three-axis names are as follows:\n\nitems: This is axis 0. Each item corresponds to a DataFrame structure.\n\nmajor_axis: This is axis 1. Each item corresponds to the rows of the DataFrame structure.\n\nminor_axis: This is axis 2. Each item corresponds to the columns of each DataFrame structure.\n\nAs with Series and DataFrames, there are different ways to create Panel objects.\n")

Q_6_ANS :- The pandas Series: Introduction, Series creation using different ways, indexing and slicing, Mutability of series, Operations and mathematical functions

The pandas DataFrame: Introduction, DataFrame creation using different ways, pandas read_*, Value and size mutability of DataFrame, Column as a series

The pandas Panel: pandas is a fast, powerful, flexible and easy to use data analysis library built on top of NumPy and provides features not available in it. pandas stands for panel data, a reference to the tabular format. It adopts significant parts of NumPy’s idiomatic style of array-based computing. While pandas adopts many coding idioms from NumPy, the biggest difference is that pandas is designed for working with tabular, heterogeneous data. NumPy, by contrast, is best suited for working with homogeneous numerical array data.

Series — 1D

DataFrame — 2D

Panel — 3D

The pandas Series: The Series is the object of the pandas library designed to represent one-dimensional data structures, similar to an array but with some additional features. A series consists of two components.

One-dimensional data (Values)

Index

The pandas DataFrame: A DataFrame is a two-dimensional data structure composed of rows and columns — exactly like a simple spreadsheet or a SQL table. Each column of a DataFrame is a pandas Series. These columns should be of the same length, but they can be of different data types — float, int, bool, and so on. DataFrames are both value-mutable and size-mutable (Series, by contrast, is only value-mutable, not size-mutable. The length of a Series cannot be changed although the values can be changed). This lets us perform operations that would alter values held within the DataFrame or add/delete columns to/from the DataFrame.
 DataFrame consists of three components.

Two-dimensional data (Values)

Row index

Column index

The pandas Panel : A Panel is a 3D array. It is not as widely used as Series or DataFrames. It is not as easily displayed on screen or visualized as the other two because of its 3D nature. It is generally used for 3D time-series data. The three-axis names are as follows:

items: This is axis 0. Each item corresponds to a DataFrame structure.

major_axis: This is axis 1. Each item corresponds to the rows of the DataFrame structure.

minor_axis: This is axis 2. Each item corresponds to the columns of each DataFrame structure.

As with Series and DataFrames, there are different ways to create Panel objects.

In [27]:
print("Q_7_ANS :- ")
s1 = pd.Series(['yash','sumit','devshrita'])
s2 = pd.Series([86,65,52])
s3 = pd.Series([78,72,26])
s4 = pd.Series([98,89,75])
data3 = pd.DataFrame({'Name':s1,'Eng_Marks':s2,'Sci_Marks':s3,'Math_Marks':s4})
data3

Q_7_ANS :-

        Name  Eng_Marks  Sci_Marks  Math_Marks
0       yash         86         78          98
1      sumit         65         72          89
2  devshrita         52         26          75